header{
    text-align: center;  
}

#혁오{
    padding-top: 20px;
}

.album {
    border-bottom: 2px solid;
    text-align: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.6;
}


nav ul{
    list-style-type: none;
    width: 80%;
     text-decoration: overline underline;
     text-align: center; 
    margin-right: auto;
    margin-left: auto;
     background-color: #fc1a1a;
    padding: 10px;
}

nav ul li{
    display: inline;
    margin: 65px;
     text-align: center; 
    background-color: #fc1a1a;
}

nav ul li a{
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}

.title{
    font-family: NotoSans;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 30%;
    background-color: #fc1a1a;
    padding: 10px;
     margin-right: auto;
    margin-left: auto;
}

section{
    text-align: center;
}

iframe{
    padding: 10px;
    padding-top: 20px;
}

#app{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 200x;
}

#app:hover{
    opacity: 0.5;
}

footer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding: 5px;
    color: #fff;
    background-color: #fc1a1a;
    text-align: center;
}